#header {
  background-color: transparent;
}
.sc-gallery {
  position: relative;
  .inner {
    // height: 1300vh;
  }
  .sticky-wrap {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    // overflow: hidden;
    // background-color: lightblue;
  }
  .sticky-container {
    position: relative;
    flex: none;
    width: 100%;
    height: auto;
  }
  .group-scroll {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: #ccc;
  }
  .area-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: none;
    padding-right: 100px;
    h2 {
      display: flex;
      align-items: flex-end;
      font-size: 54px;
      font-weight: 600;
      gap: 20px;
      .chinese-char {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .desc {
      display: flex;
      align-items: center;
      line-height: 1.8;
      &::before {
        content: '*';
        padding-top: 4px;
        padding-right: 5px;
      }
    }
  }
  .area-frame {
    // height: 100%;
    display: flex;
    align-items: center;
    gap: 120px;
    flex: none;
  }
  .frame-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 100px 0;
    gap: 14px;
  }
  .frame-img {
    position: relative;
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }

  .img-v {
    max-height: calc(100vh - 290px);
    aspect-ratio: 9 / 16;
  }
  .img-h {
    max-height: calc(100vh - 480px);
    aspect-ratio: 16 / 9;
  }
  .area-progress {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 80px);
    background-color: lightblue;
    .progress-lines {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .line {
        width: 1px;
        height: 7px;
        background-color: $color-black;
        transform-origin: top;
      }
    }
    .progress-number {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .number {
        opacity: 0.5;
        transition: opacity 0.3s;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
